.css-3ihp42-MuiDataGrid-root .MuiDataGrid-columnHeader--alignCenter .MuiDataGrid-columnHeaderTitleContainer {
    display: none;
}
.buttonArea{
    width: 100%;
    margin-top: 3rem;
    justify-content: flex-end;
    display: flex;
    align-items: end;
}