.Page{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.Sidebar{
    display: flex;
    flex: 1;
}

.Main{
    flex: 7;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #696cff;
    border-radius: 10rem;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color: #6366F1 !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    color: #6366F1 !important;
}

.Main3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}
