.area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.area label{
    margin-right: 5rem;
    width: 5rem;
}
.textf{
    width: 50ch !important;
    margin: 0 !important;
}