.card{
    padding: 3rem;
    margin-top: 10rem;
}
.css-ece9u5{
    width: 100%;
}
.css-1nrlq1o-MuiFormControl-root{
    width: 100%;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    margin-top: 2rem !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
    margin-top: 2rem !important;
}