
.Main2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    height: 20rem;
    width: 60rem;
}
.tableButtons{
    margin-top: 3rem;
    justify-content: flex-end;
    display: flex;
}
.tableButtons button{
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.tableButtons label{
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.css-f3jnds-MuiDataGrid-columnHeaders{
    background-color: whitesmoke;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
    color: #696cff !important;
}

.css-3ihp42-MuiDataGrid-root .MuiDataGrid-row.Mui-selected:hover, .css-3ihp42-MuiDataGrid-root .MuiDataGrid-row.Mui-selected.Mui-hovered{
    background-color: #696cff23 !important;
}
